div.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  overflow: hidden;
}

h1 {
  margin: 10px;
  text-align: center;
  font-size: 1.5rem;
}